/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 319px) and (max-width: 575px)
{ 
    .row .col-sm-4
    {
        padding-bottom: 0px !important;
    }
    #specialRow
    {
        padding-bottom: 0px !important;
    }
    #horizontalLine
    {
        display: block !important;
    }
    #skillList
    {
        background-image: linear-gradient(to bottom,#2D2D30 10% , #7289da);
        padding-top: 50px;
    }
    #skillList li
    {
        position: absolute;
        left: 47%;
    }

    #toolSVG
    {
        position: absolute;
        left: 0;
        top:-50px;
        width: 100%;
        display:block !important;
    }
    #hiddenDiv
    {
        margin-top: 100px;
    }
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) 
{ 
    #toolSVG
    {
        position: absolute;
        left: 0;
        top:-70px;
        width: 100%;
        display:block !important;
    }
    #hiddenDiv
    {
        margin-top: 100px;
    }
    #skillList
    {
        padding-top: 50px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px)
{ 

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) 
{ 

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) 
{
    
}
#horizontalLine
{
    display: none;
}
body
{
    font-family: 'Roboto Condensed', sans-serif;
    color: transparent;
    background-color: transparent;
    margin: 0;
    padding: 0;
    background-color: #2D2D30;
}
.navbar
{
    margin-bottom: 0;
    border-radius: 0;
    height: auto;
    background-color: black;
    
}
.navbar .navbar-brand 
{
    color: white;
    position: fixed;
    float: left;
    display: block;
    top: -10px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out ;
}
.navbar .navbar-brand:hover
{
    color: #FFF7CE;
}
.navbar .navbar-nav
{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse  
{
    text-align: center;
}
#resumeLink
{
    transition: 0.3s ease-in-out ;
    -webkit-transition: 0.3s ease-in-out;

}

#resumeLink a
{
    pointer-events: visible;
    border-style: solid;
    border-width: 2px;
    border-color: #FFF7CE;
    border-radius: 200px;
    padding: 10px 30px 10px 30px;
}

#navContent li a, #resumeLink a
{
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
#navContent li a:before
{
    content: "";
    position: absolute;
    justify-content: center;
    width: 60%;
    height: 3%;
    bottom: 25%;
    left: 21%;
	background-color: #FFF7CE ;
	visibility: visible;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;

}
#resumeLink:hover
{
	color: #FFF7CE ;
    text-decoration: none;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
#navContent li a:hover:before, #resumeLink a:hover:before
{
    
	visibility: visible ;
	-webkit-transform: scaleX(1);
    transform: scaleX(1);

}

#navContent li a:visited, #resumeLink a:visited
{
	color: white ;
	text-decoration: none;
}
#navContent li a:hover, #resumeLink a:hover
{
	color: #FFF7CE ;
    text-decoration: none;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
#navContent li a, #resumeLink a
{
	color:white ;
	text-decoration: none;
}
#home
{
    background-color: #2D2D30;
}
#home .jumbotron
{	
    
    background-color: #2D2D30;
    color: #FFF7CE;
    text-align: center;
    align-content: center;
    font-family: 'Roboto Condensed', sans-serif;  
    
}

#home .jumbotron p
{	
    display: block;
    word-wrap: break-word;
    color: white;
    text-align: center;
}

#home .jumbotron ul
{	
    display: block;
    word-wrap: break-word;
    color: white;
    text-align: center;
    padding-right: 30px;
    font-size: medium;
}
#about
{
    color: white;
    background-color: #7289da;
    padding-bottom: 50px;
}
#about .jumbotron
{
    color: white;
    background-color: #2D2D30;
    padding-bottom: 50px;
}
#toolSVG
{
    display: none;
}
svg
{
    display: block;
}
#skillList
{
    color: white;
    background-color: #2D2D30;
}
#projects
{
    /*background-image: linear-gradient(to bottom, #7289da,#2D2D30 50%);*/
    background-color: #2D2D30;
    padding-bottom: 60px;
}
#specialRowv
{
    padding-bottom: 100px;
}

h1, h2, h3
{
    color: #FFF7CE;
}
#headText
{
    color: white;
    opacity: .2;
}

#projectImage
{
    opacity: 1;

    border-style: inset;
    border-color: #FFF7CE;
    border-width: 0;
    border-radius: 12px;

    height: 400px;
    
    box-sizing: border-box;
    -webkit-transition: .3s ease-in-out;
    transition: ease-in-out .3s;

    backface-visibility: hidden;
}

#projectImage:hover
{
    border-width: 4px;
    opacity: 0.5;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

#gitHubImage
{
    color: white;
    width: 120px !important;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 200px;
    
    background-color: transparent;
    background-image:url('../Images/Github_Icon.jpg') !important;
    background-size: contain;
    background-repeat: no-repeat;
    
    backface-visibility: hidden;
    opacity: 1;

    -webkit-transition: .3s ease-in-out;
    transition: ease-in-out .3;
    
    pointer-events: all;
}

#gitHubImage:hover
{
    opacity: .7;
    background-color: #FFF7CE;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}
#gitHubImage:hover > #gitHubText
{
    
    opacity: 1;
}
  
#gitHubText
{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    -webkit-transition: .3s ease-in-out;
    transition: ease-in-out .3s;
    
}

#footerContent
{
    color: white;
    text-decoration: none;
    display: inline-block;
}
#footerContent a
{
    color: white;
}

#footerContent a:before
{
    color: white;
}
#footerContent a:visited
{
    color: white;
}
#footerContent a:hover
{
    color: white;
}

#footerContent a
{
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
#footerContent a:before 
{
    display: flex;
    content: "";
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 3%;
    bottom: 25%;
    left: 21%;
	background-color: #FFF7CE ;
	visibility: visible;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;

}

#footerContent a:hover:before
{
    
	visibility: visible ;
	-webkit-transform: scaleX(1);
    transform: scaleX(1);

}

#footerContent a:hover
{
	color: #FFF7CE ;
    text-decoration: none;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

#displayImage
{
    backface-visibility: hidden;
}


/*color: #7289da*/