/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 319px) and (max-width: 575px)
{ 
    .row .col-sm-4
    {
        padding-bottom: 0px !important;
    }
    #specialRow
    {
        padding-bottom: 0px !important;
    }
    #horizontalLine
    {
        display: block !important;
    }
    #skillList
    {
        /*background-image: linear-gradient(to bottom, #FFF7CE 99% , #7289da);*/
        background-color: #FFF7CE !important;
        padding-top: 50px;
    }
    #skillList li
    {
        position: absolute;
        left: 47%;
        color: #2D2D30 !important;
    }
    #skillList h2
    {
        color: #7289da;
    }
    #about .container
    {
        background-image: linear-gradient(to bottom, #7289da 70%, #FFF7CE 30% );
    }
    #preProjectsSVG path
    {
        fill: #2D2D30;
    }
    #preProjectsSVG
    {
        background-color: #FFF7CE !important;
    }
    #toolSVG
    {
        position: absolute;
        left: 0;
        top:-50px;
        width: 100%;
        display:block !important;
    }
    #toolSVG path
    {
        fill: #FFF7CE;
    }
    #hiddenDiv
    {
        margin-top: 100px;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) 
{ 
    #toolSVG
    {
        position: absolute;
        left: 0;
        top:-70px;
        width: 100%;
        display:block !important;
    }
    #hiddenDiv
    {
        margin-top: 100px;
    }
    #skillList
    {
        /*background-image: linear-gradient(to bottom, #FFF7CE 99% , #7289da);*/
        background-color: #FFF7CE !important;
        padding-top: 50px;
    }
    #skillList h2
    {
        color: #7289da;
    }
    #skillList li
    {
        position: absolute;
        left: 47%;
        color: #2D2D30 !important;
    }
    #about .container
    {
        background-image: linear-gradient(to bottom, #7289da 70%, #FFF7CE 30% );
    }
    #preProjectsSVG path
    {
        fill: #2D2D30;
    }
    #preProjectsSVG
    {
        background-color: #FFF7CE !important;
    }
    #toolSVG
    {
        position: absolute;
        left: 0;
        top:-80px;
        width: 100%;
        display:block !important;
    }
    #toolSVG path
    {
        fill: #FFF7CE;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px)
{ 
    #projects #resumeLink
    {
        font-size: large;
    }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) 
{ 

}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) 
{
    
}
#horizontalLine
{
    display: none;
}
body
{

    font-family: 'Roboto Condensed', sans-serif;
    color: transparent;
    margin: 0;
    padding: 0;
    height: 0px;
    background-color: #2D2D30;
}
.navbar
{
    margin-bottom: 0;
    border-radius: 0;
    height: auto;
    background-color: black;
}

.navbar .navbar-brand 
{
    color: white;
    position: fixed;
    float: left;
    display: block;
    top: -10px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out ;
}
.navbar .navbar-brand:hover
{
    color: #FFF7CE;
}
.navbar .navbar-nav
{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse  
{
    text-align: center;
}
#resumeLink
{
    transition: 0.3s ease-in-out ;
    -webkit-transition: 0.3s ease-in-out;
}

#resumeLink a
{
    background-color: #7289da;
    pointer-events: visible;
    border-style: solid;
    border-width: 2px;
    border-color: #FFF7CE;
    border-radius: 200px;
    padding: 10px 30px 10px 30px;
}
#navContent li a, #resumeLink a
{
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
#navContent li a:before
{
    content: "";
    position: absolute;
    justify-content: center;
    width: 60%;
    height: 3%;
    bottom: 25%;
    left: 21%;
	background-color: #FFF7CE ;
	visibility: visible;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
#resumeLink:hover
{
	color: #FFF7CE ;
    text-decoration: none;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
#navContent li a:hover:before, #resumeLink a:hover:before
{
	visibility: visible ;
	-webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#navContent li a:visited, #resumeLink a:visited, #projects a:visited
{
	color: white ;
	text-decoration: none;
}
#navContent li a:hover, #resumeLink a:hover, #projects a:hover
{
	color: #FFF7CE ;
    text-decoration: none;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
#navContent li a, #resumeLink a, #projects a
{
	color:white ;
	text-decoration: none;
}
#home
{
    background-color: #2D2D30;
}
#home .jumbotron 
{	
    background-color: #2D2D30;
    color: #FFF7CE;
    text-align: center;
    align-content: center;
    font-family: 'Roboto Condensed', sans-serif;  
}
#home .jumbotron p
{	
    display: block;
    word-wrap: break-word;
    color: white;
    text-align: center;
}
#container1
{
    background-color: 	#33007b;
}
#container2
{
    background-color: #2E86C1;
}
#cSharp
{
    
    background-color:#2D2D30 !important;
}
#cSharp .jumbotron 
{	
    background-image: linear-gradient(to bottom, #2D2D30 10% , #663399, #2D2D30 90%) !important;
    /*background-color: 	#33007b;*/
    color: #FFF7CE;
    text-align: center;
    align-content: center;
    font-family: 'Roboto Condensed', sans-serif;  
    height: 50%;
}
#cSharp .jumbotron p
{	
    display: block;
    word-wrap: break-word;
    color: white;
    text-align: center;
}
#cSharp .jumbotron ul
{	
    display: block;
    word-wrap: break-word;
    color: white;
    text-align: center;
    padding-right: 30px;
    font-size: medium;
}
#cPlusPlus
{
    /*background-image: linear-gradient(to bottom, #2D2D30 10% , #2E86C1, #2D2D30);*/
    background-color: #2D2D30;
}

#cPlusPlus .jumbotron 
{	
    background-image: linear-gradient(to bottom, #2D2D30 10% , #2E86C1, #2D2D30 90%);
    /*background-color: #2E86C1;*/
    color: #FFF7CE;
    text-align: center;
    align-content: center;
    font-family: 'Roboto Condensed', sans-serif;  
    
}
#cPlusPlus .jumbotron p
{	
    display: block;
    word-wrap: break-word;
    color: white;
    text-align: center;
}
#cPlusPlus .jumbotron ul
{	
    display: block;
    word-wrap: break-word;
    color: white;
    text-align: center;
    padding-right: 30px;
    font-size: medium;
}
#htmlCSSJs
{
    /*background-image: linear-gradient(to bottom, #ff6500, #2D2D30 95%);*/
    background-color: #2D2D30
}

#htmlCSSJs .jumbotron 
{	
    background-image: linear-gradient(to bottom, #2D2D30 10%, #ff6500, #2D2D30 90%);
    color: #FFF7CE;
    text-align: center;
    align-content: center;
    font-family: 'Roboto Condensed', sans-serif;  
}
#htmlCSSJs .jumbotron p
{	
    display: block;
    word-wrap: break-word;
    color: white;
    text-align: center;
}
#htmlCSSJs .jumbotron ul
{	
    display: block;
    word-wrap: break-word;
    color: white;
    text-align: center;
    padding-right: 30px;
    font-size: medium;
}

#projects
{
    color: white;
    background-color: #2D2D30;
    padding-bottom: 60px;
    backface-visibility: hidden;

}
#projects h2
{
    pointer-events: none;
}
#projects h2 a
{
    pointer-events: visible;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out ;
    -webkit-transition: 0.3s ease-in-out;
}
#projects a:hover
{
    -webkit-transform: rotate(10deg) !important;
    transform: rotate(10deg) !important;
}
#home .jumbotron ul
{	
    display: block;
    word-wrap: break-word;
    color: white;
    text-align: center;
    padding-right: 30px;
    font-size: medium;
}
#about .container 
{
    width: 100%;
    color: white;
    background-color: #7289da;
    padding-bottom: 50px;
}
#about .jumbotron
{
    color: white;
    background-color: #2D2D30;
    padding-bottom: 50px;
}
#toolSVG
{
    display: none;
}
svg
{
    display: block;
}
#skillList
{
    color: white;
    background-color: #2D2D30;
}
#preProjectsSVG
{
    background-color: #7289da;
}

h1, h2, h3
{
    color: #FFF7CE;
}
#headText
{
    color: #FFF7CE;
    opacity: 1;
}

#projectImage
{
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: ease-in-out .3s;
    backface-visibility: hidden;
}

#projectImage:hover
{

    opacity: 0.5;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

#gitHubImage
{
    color: white;
    width: 120px !important;
    height: 120px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-image:url('../Images/GitHubIcon.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: ease-in-out .3;
    pointer-events: all;
}

#gitHubImage:hover
{
    opacity: .7;
    background-color: #FFF7CE;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}
#gitHubImage:hover > #gitHubText
{
    opacity: 1;
}
  
#gitHubText
{
    font-family: 'Roboto Condensed', sans-serif;
    color: #2D2D30;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: ease-in-out .3s;
}
#footerContent
{
    color: white;
    text-decoration: none;
    display: inline-block;
}
#footerContent a
{
    color: white;
}

#footerContent a:before
{
    color: white;
}
#footerContent a:visited
{
    color: white;
}
#footerContent a:hover
{
    color: white;
}

#footerContent a
{
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
#footerContent a:hover:before
{
	visibility: visible ;
	-webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#footerContent a:hover
{
	color: #FFF7CE ;
    text-decoration: none;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
#displayImage
{
    backface-visibility: hidden;
}
#backToTop
{
    opacity: 0.8;
}

#backToTop:hover
{
	color: #FFF7CE ;
    text-decoration: none;

}
#backToTop a
{
    background-color: #7289da;
    pointer-events: visible;
    border-style: solid;
    border-width: 2px;
    border-color: #FFF7CE;
    border-radius: 200px;
    padding: 10px 30px 10px 30px;
}

#backToTop li a:visited
{
	color: white ;
	text-decoration: none;
}
#backToTop a:hover
{
	color: #FFF7CE ;
    text-decoration: none;
}
#backToTop a
{
	color:white ;
	text-decoration: none;
}
#backToTop
{
    font-size: medium !important;
}